<launch>

    <arg name="id" default=""/>
    <arg name="out" default="$(arg id)"/>
    <node pkg="livox_dedistortion_pkg" type="livox_repub_node" name="livox_repub_node">
        <remap from="/livox/lidar" to="/livox/lidar_$(arg id)" />
        <remap from="/livox/lidar_pc2" to="/livox/lidar_pc2_$(arg id)" />
    </node>

    <node pkg="livox_dedistortion_pkg" type="deskew_node" name="deskew_node">
        <remap from="/livox/lidar_pc2" to="/livox/lidar_pc2_$(arg id)" />
        <remap from="/livox/imu" to="/livox/imu_$(arg id)" />
        <remap from="/livox_undistort" to="/livox_undistort_$(arg out)" />
    </node>

</launch>
