<?xml version="1.0" encoding="UTF-8"?>
<!-- -*- mode: XML -*- -->
<launch>
  <arg name="config_file" default="$(find ros_whill)/config/sensors/whill_mid360.json"/>
  <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch">
    <arg name="user_config_path" value="$(arg config_file)"/>
    <arg name="xfer_format" value="0"/>
  </include>
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_node" args="load livox_laserscan/LaserScanNodelet livox_nodelet_manager">
    <remap from="cloud_in" to="/livox/lidar"/>
    <remap from="scan" to="/livox/laser"/>
    <param name="min_height" value="-0.1"/>
    <param name="max_height" value="0.1"/>
  </node>
</launch>
