<?xml version="1.0" encoding="UTF-8"?>
<!-- -*- mode: XML -*- -->
<launch>
  <arg name="tcp_ip" default="0.0.0.0"/>
  <arg name="tcp_port" default="10000"/>
  <include file="$(find ros_tcp_endpoint)/launch/endpoint.launch">
    <arg name="tcp_ip" value="$(arg tcp_ip)"/>
    <arg name="tcp_port" value="$(arg tcp_port)"/>
  </include>
  <node pkg="ros_whill" type="unity_command_handler.py" name="unity_command_handler">
  </node>
</launch>
